.presentation-text {
  text-align: center;
  margin: 2rem 0;
  padding: 2rem;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.presentation-text h2 {
  font-size: 200%;
  margin-bottom: 1rem;
}

.presentation-text p {
  font-size: 120%;
  line-height: 1.5;
}